<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>List Index</h1>
        <a href="/groups"><button>Back to<br>Get Together</button></a>
        <a href="/lists/new"> <button>Create <br> a List</button> </a>
    </header>
    <h2>Lists</h2>
    <ul>
        <% for (let i =0; i < list.length; i++) { %>
            <li>
                <a href="/lists/<%=list[i]._id%>"><%=list[i].title%></a>
                <form action="/lists/<%=list[i].id%>?_method=DELETE" method="POST">
                    <button>Delete List</button>
                </form>
           </li>
        <% } %>
   
    </ul>

</body>
</html>