<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>List Show</h1>
        <a href="/lists"><button>Edit List</button></a>
        <a href=""><button>Delete</button></a>
        <a href="/lists"><button>All Lists</button></a>
    </header>
    <h2> <%= list.title%> </h2>
    <h2> <%=list.dueDate%> </h2>
    <ul>
        <%for (let i = 0; i < list.items.length; i++) { %>
            <li>
                <%=list[i] %>
            </li>
       <% } %>
    </ul>
</body>
</html>