<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
</head>
<body>
    
    <header>
        <h1>My Groups</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/groups/new">Create a new Group</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>List of Groups</h2>
        <ul>
            <% for(let i = 0; i < groups.length; i++){ %>
            <li>
                <a href="/groups/<%=groups[i]._id%>"><%=groups[i].name%></a>

                <form method="POST" action="/groups/<%= groups[i]._id %>?_method=DELETE">
                    <button type="submit">Delete this Group</button>
                </form>

            </li>
            <% } %>
        </ul>
    </main>

</body>
</html>