<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    
    <title>Groups</title>
</head>
<body id="groupIndex" class="mainejs">
    <header>
        <h1>My Groups</h1>
        <nav>
            <ul>
                <li>
                    <a href="/groups/new"><button>Create a new Group</button></a>
                </li>
                <li>
                    <a href="/"><button>Logout</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="groupIMain">
        <h2>List of Groups</h2>
        <ul>
            <% for(let i = 0; i < groups.length; i++){ %>
            <li>
                <a href="/groups/<%=groups[i]._id%>"><%=groups[i].name%></a>

                <form method="POST" action="/groups/<%= groups[i]._id %>?_method=DELETE">
                    <button type="submit">Delete this Group</button>
                </form>
                <!-- I don't think they need an edit button until they are 
                inside of the group looking at it -->
                <!-- <form action="/groups/<%=
                // groups[i]._id
                %>/edit">
                    <button type='submit'>Edit </button>
                </form> -->
            </li>
            <% } %>
        </ul>
    </main>

</body>
</html>