<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

    <title>New Group</title>
</head>
<body id="groupNew">
    <header>
        <h1>Create a Group</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/groups">My Groups</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="groupNMain">
        <form action="/groups" method="post">
            Give your group a name: <input type="text" name="name" /><br />
            Give a group start date: <input type="date" name="dateStarted" /><br />
            Give your group a photo URL: <input type="text" name="groupPhoto" /><br />
                <button type="submit">Create Group</button>
        </form>
    </main>
</body>
</html>