<!DOCTYPE html>
<html>
<head>
  <title>New Recipes</title>
</head>
<body>

  <h1>New Recipes</h1>
  <form action='/recipes' method='POST'>
    Which group does this Recipe belong to: <select name="groupId">
      <% for(let i = 0; i < groups.length; i++) { %>
      <option value="<%=groups[i]._id%>"><%=groups[i].name%></option>
      <% } %>
    </select><br />
    Recipe Name: <input type="text" name="title"><br>
    Ingredients List: <input type="text" name="ingredients"><br>
    Recipe Instructions: <input type="text" name="instructions"><br>
    Comments: <input type="text" name="comments"><br>
    <input type="submit" name="" value="Submit Your New Recipe">
  </form>

</body>
</html>