<!DOCTYPE html>
<html>
<head>
  <title>New Recipes</title>
</head>
<body>

  <h1>New Recipes</h1>
  <form action='/recipes' method='POST'>
    Recipe Name: <input type="text" name="title"><br>
    Ingredients List: <input type="text" name="ingredients"><br>
    Recipe Instructions: <input type="text" name="instructions"><br>
    Comments: <input type="text" name="comments"><br>
    <input type="submit" name="" value="Submit Book">
  </form>

</body>
</html>