<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="../../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

  <title>New Recipes</title>
</head>
<body id="recNew" class="mainejs">
    <header>
        <h1 class="heading">New Recipes</h1>
        <nav>
            <ul>
              <li>
                 <!-- Mike - when you are looking at this - I want a btn that goes
                        back your group page that the list and recipe is in -->
                <a href="/groups"><button>Back to <br> Get Together</button></a>
              </li>
              <li>
                <a href="/recipes"><button>Back to all recipes</button></a>
              </li>
              <li>
                  <a href="/"><button>Logout</button></a>
              </li>
            </ul>
        </nav>
    </header>
      <main id="recNMain">
          <form action='/recipes' method='POST'>
            Which group does this Recipe belong to: <select name="groupId">
              <% for(let i = 0; i < groups.length; i++) { %>
              <option value="<%=groups[i]._id%>"><%=groups[i].name%></option>
              <% } %>
            </select><br />
            Give your recipe a name: <input type="text" name="title"><br>
            Give your recipe ingredients: <input type="text" name="ingredients"><br>
            Give your recipe instructions: <input type="text" name="instructions"><br>
            Make comments: <input type="text" name="comments"><br>
              <button type="submit">Create Recipe</button>
          </form>
      </main>
</body>
</html>